### Build outputs ###
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Maven ###
pom.xml.versionsBackup
dependency-reduced-pom.xml

### IDE ###

# IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Logs ###
*.log

### Environment ###
.env
*.env

### Temporary files ###
*.tmp
*.bak

### System files ###
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

### Gradle (дополнительно) ###
.gradle/
**/build/
!src/**/build/

### Other ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
.recommenders/